div.mainBlock{
    padding:1.5em 4em;
    width: 15em;
}

span.header{
    text-align:center;
    font-weight: 500;
    color: rgb(80, 80, 80);
    background-color:white;
    font-size: 26px;
    display:block;
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: solid rgb(200, 200, 200) 0.5px;
}

label{
    font-weight:500;
    line-height: 40px;
    font-size: 16px;
}
input{
    line-height: 30px;
    padding: 0em 1em;
    border: 0.5px rgb(200, 200, 200) solid;
    font-size: 16px;
    font-weight: 300;
    border-radius: 3px;
}
#submit{
    width: 100%;
    background-color: rgb(224, 252, 215);
    border: none;
    line-height: 35px;
    font-size: 14px;
    font-weight: 500;
    margin-top:1em;
}
#username{
    width:100%;
}
#password{
    width:100%;
}
#password2{
    width:100%;
}
#email{
    width:100%;
}

div.newUser{
    width: 15em;
    margin-top: 1em;
    text-align: center;
    padding: 1.5em 4em;
    font-size:16px;
}
span.error{
    color: red;
    font-weight: 350;
    font-size: 14px;
    line-height: 25px;
}
