<html>
    <head>
      <title>webMJ</title>
      <link rel='icon' href="https://webmj-assets.s3.us-east-2.amazonaws.com/icon.svg ">
      <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='style_default.css') }}"/>
    </head>
    <body>
        <div class='menuBar'> <img src= "https://webmj-assets.s3.us-east-2.amazonaws.com/logo.svg" id='logo'/>
            <a class='menuLink' href="{{ url_for('index') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a class='menuLink loginLink' href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a class='menuLink loginLink' href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
            {% if roomID is defined %}
            <a class='menuLink' id='leaveRoom' href="{{ url_for('leaveRoom', roomID=roomID) }}">Leave Room</a>
            {% endif %}
        </div>
        <a class='gitHub-link' href="https://github.com/TimLeeTY/webMJ" target="_blank">
            <img id='gitHubMark' src="https://webmj-assets.s3.us-east-2.amazonaws.com/GitHub-Mark-Light-64px.png">
            Find me on GitHub
        </a>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class='flashMes'>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
