{% extends "base.html" %}

{% block content %}
    <link href=" {{ url_for('static', filename='stylesheet1.css') }}" rel='stylesheet'>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <div class='mainGame'>
        <div class = 'centreText'>
            <div id='currentWind'> </div>
            <div id= tilesLeft> </div>
        </div>
    <div id='center'>
        <div class='choices' id='choice5'>
            <button class='buttonEnd' id='ignorebutton'> ignore </button>
        </div>
        {% for i in range(5) %}
        <div class='choices' id='choice{{ i }}'>
            <div class='tilechoice tooltip' id='choice{{ i }}-0'>
            <span class="tooltiptext"> </span>
            </div>
            <div class='choicetext'> + </div>
            <div class='tilechoice tooltip' id='choice{{ i }}-1'>
            <span class="tooltiptext"> </span>
            </div>
            <div class='tilechoice tooltip' id='choice{{ i }}-2'>
            <span class="tooltiptext"> </span>
            </div>
            <div class='tilechoice tooltip' id='choice{{ i }}-3'>
            <span class="tooltiptext"> </span>
            </div>
            <button class='buttonChoice' id='button{{ i }}'></button>
        </div>
        {% endfor %}
    </div>
    <div id='centerWin'>
        <h2 id='playerWinText'> </h2>
        <div class='wins' id='scoreList'>
            <table class = "scoreTable" id='scoreTable'>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class='wins' id='win0'>
            <button class='buttonWin' id='WinButton0'>win!</button>
            {% for j in range(17) %}
            <div class='tilewin tooltip' id='win0-{{ j+1 }}'>
            <span class="tooltiptext"> </span>
            </div>
            {% endfor %}
            <div class='winAdd'> + </div>
            <div class='tilewin tooltip' id='win0-0'>
            <span class="tooltiptext"> </span>
            </div>
        </div>
        <div class='wins' id='win5'>
            <button class='buttonEnd' id='ignoreWinButton'> ignore </button>
            <button class='buttonEnd' id='hideWinButton'> hide </button>
        </div>
    </div>
     
    {% set tileLen = [8, 16, 14, 25] %}
    {% set tileLabel = ['flower', 'set', 'hand', 'discard'] %}
    {% set tileClass = ['tiles', 'tiles', 'tiles', 'discards'] %}
    {% set tileSubClass = ['tile', 'tile', 'tilehand', 'tilediscard'] %}
    {% for player in range(4) %}
    <div class ='username' id='username{{ player }}'>
        <div class='triangle left-triangle' id='tri-left-{{ player }}'> </div>
        <div class='usernameText' id='usernameText{{ player }}'> </div>
        <div class='triangle right-triangle' id='tri-right-{{ player }}'> </div>
    </div>
    <div class = 'textBubbles' id = 'textBubble{{ player }}'></div>
    {% for i in range(4) %}
    <div class = "{{ tileClass[i] }}" id="{{ tileLabel[i] }}{{ player }}">
        {% for flower in range(tileLen[i]) %}
        {% if player == 0 or i != 2 %}
        <div id="{{ tileLabel[i] }}-{{ player }}-{{ flower }}" class="{{ tileSubClass[i] }} tooltip">
            <span class="{% if player==2 %} fliptooltiptext {% else %} tooltiptext {% endif %}"> </span>
        </div>
        {% else %}
        <div id="{{ tileLabel[i] }}-{{ player }}-{{ flower }}" class="{{ tileSubClass[i] }}">
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
    {% endfor %}
    <a id="credit" href="https://creativecommons.org/licenses/by-sa/4.0/deed.en"> Mahjong tiles &copy; Wikimedia Commons; created by Jerry Crimson Mann</a>
    </div>
    <script> 
    var roomID = '{{ roomID }}';
    </script>
    <script src=" {{ url_for('static', filename='static.js') }}" ></script>
{% endblock %}

