{% extends "base.html" %}

{% block content %}
    <link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='style_lobby.css') }}'/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script> 
    var roomID = '{{ roomID }}';
    </script>
<div class='mainBlock'>
    <img id="logo-square" src="https://webmj-assets.s3.us-east-2.amazonaws.com/icon.svg">
    <span class='header'> Room <tt>{{ roomID }}</tt></span>
    <hr class='optDiv'> 
    <div class='divLabel'> Owner </div>
    <div class='username'> {{ username }} </div>
    <hr class='optDiv'> 
    <div class='divLabel'> Players </div>
    {% if players|length == 0 %}
    <div class='username empty'> (empty) </div> 
    {% endif %}
    {% for player in players %}
     <div class='username'> {{ player.username }} 
     <span class='readyCheck' id='ready-{{ player.order }}'>{% if player.ready %} &#10004 {% endif %}</span>
     </div>
        {% if user.username == username %}
            <a class='remove' href={{ url_for('removePlayer', roomID=roomID, username=player.username) }}> remove</a>
        {% endif %} 
    {% endfor %}
    {% if user.username == username %}
    <a class='game' id='closeRoom' href='{{ url_for('closeRoom', roomID=roomID) }}'> close room </a>
    <a class='game' id='startGame' href='{{ url_for('startGame', roomID=roomID) }}'> start game </a>
    {% else %}
    <a class='game' id='leaveRoom' href='{{ url_for('leaveRoom', roomID=roomID) }}'> leave room </a>
    <a class='game' id='readyGame'>{% if user.ready %}unready{% else %}ready{% endif %}</a>
    {% endif %} 
</div>

    <script src=" {{ url_for('static', filename='lobbyScript.js') }}" ></script>
{% endblock %}
