{% extends "base.html" %}

{% block content %}
<link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='style_login.css') }}'/>

<div class='mainBlock'>
    <span class='header'>Sign in to <img src="https://webmj-assets.s3.us-east-2.amazonaws.com/logo.svg" id="title_logo"> </span>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span class="error">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span class="error">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>{{ form.remember_me() }} {{ form.remember_me.label }}</div>
        <div class =>{{ form.submit() }}</div>
    </form>
</div>
<div class='mainBlock newUser'>New User? <a href="{{ url_for('register') }}">Register here</a></div>
{% endblock %}
